.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
  }
  .header, .footer {
    min-height: 130px;
  }
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    
  }
  .main {
    min-height: 1000px;
    margin-left: 250px;
  }
  .content {
    position: relative;
    margin-top: 130px;
  }
  .navigate {
    width: 250px;
    position: fixed;
    min-height: 1000px;
  }