.slider {
  position: relative;
  height: 800px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.slider__slide {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: -1;
  display: flex;
  transition: right .2s
}
.slider__slide-item {
  height: 100%;
  min-width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.slider__dots {
  position: absolute;
  align-self: flex-end;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.slider-dots__dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
}
.slider-dots__dot_active {
  background-color: #2b303b;
}
.slider__arrow {
  min-width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.slider__arrow:hover {
  background-color: rgba(main_color, .5);
}
.slide__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}
.slide__descr {
  font-size: 22px;
  color: gray_light;
}
.slide__button {
  padding: 1em 2em;
  border-radius: 5px;
  max-width: 200px;
  font-size: 18px;
  background-color: #2b303b;
  color:white;
}
.slide__content {
  margin: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

